doctype html

html
  head
    block head
      block headtitle
        title=title
      meta(name="generator" content="statcodon")
      link(rel="stylesheet" href="/styles.css")
  body
    header
      h1.title
        a(href="/") criminals.care
    block title
      h1.title=title
    block content
      | !{html}
